#clock-bar {
    -fx-box-border: transparent;
    -fx-background-insets: 0;
}

#clock-bar > .bar {
    -fx-padding: 2px;
    -fx-background-insets: 0;
    -fx-background-color: -fx-focus-color;
}

#clock-bar > .track {
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

#menuHBox, MenuBar, MenuBar .context-menu {
    -fx-background-color: #3C3F41;
}

MenuBar .label {
    -fx-text-fill: #C9C9C9;
}

#mainVBox {
    -fx-background-color: #2B2B2B;
}

#menuHBox Button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-text-fill: white;
    -fx-pref-width: 20px;
}

#menuHBox Button:hover {
    -fx-background-color: -fx-focus-color;
}

#start-button:hover {
    -fx-background-color: orangered;
}

#mainHBox .table-view .table-column {
    -fx-alignment: CENTER-RIGHT;
}

#mainHBox .table-view {
    -fx-base: #3C3F41;
    -fx-control-inner-background: #3C3F41;
    -fx-background-color: #3C3F41;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

#mainHBox .table-view .column-header-background {
    -fx-background-color: transparent;
}

#mainHBox .table-view .column-header,
.table-view .filler {
    -fx-border-width: 0;
    -fx-border-insets: 0;
}

#mainHBox .table-view .column-header .label {
    -fx-text-fill: #C9C9C9;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

#mainHBox .table-view .table-row-cell:filled:focused:selected,
#mainHBox .table-view .table-row-cell:selected,
#mainHBox .table-view:focused .table-row-cell:filled:focused:selected,
#mainHBox .table-view:focused .table-row-cell:selected {
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-background-color: #424447;
}

#mainHBox .table-view .highlighted {
    -fx-background-color: -fx-focus-color !important;
}

#mainHBox .table-view .table-row-cell:selected .text {
    -fx-fill: white;
}